/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";

/* ==========================================================================
   Base
   ========================================================================== */

body { 
  background: url('../img/dots.png');
}

body.home{

  header.navbar-default{
  }

}

header.navbar-default{
  margin-bottom: 0;
}

header{

  .navbar-brand{
    font-size: 52px;
    border-bottom: 4px solid #4D4D4D;
    color: #4D4D4D;
    font-weight: 900;
    padding: 36px 0px;
  }
}

.page-header{
  margin: 0 0 20px 0;
  padding-bottom: 13px;
  border-bottom: 0;

  h1{
    border-bottom: 1px solid #EEE;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 0px;
  }
}


/* ==========================================================================
   Navbar
   ========================================================================== */

.navbar-nav{

  li{

    a{
      padding: 30px 0px 0px 30px;
      font-size: 32px;
    }
  }
}


/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }

h1.entry-title{
  margin-top: 0;
}

a.head-shot{
  width: 80%;
  height: 395px;
  background-image: url(../img/adam-lang.png);
  background-size: contain;
  background-repeat: no-repeat;
  //.box-shadow (0px 5px 10px rgba(0,0,0,0.2));
  margin-left: 10%;
  display: inline-block;
}



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { 

  padding: 20px 0;

  p{
    line-height: 30px;
    font-weight: 300;
  }

}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { 
  aside.social-media{
    text-align: center;

    a{
      display: inline-block;
      width: 100%;
      height: 70px;
    }

    a.twitter{
      background: url('../img/twitter.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    a.linkedin{
      background: url('../img/linkedin.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }

    a.slideshare{
      background: url('../img/slideshare.svg');
      background-size: contain;
      background-repeat: no-repeat;
    }
    
  }

  .widget{
    text-align: right;
  }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { 
  margin-top: 50px;

  div > div{
    padding-left: 0;
  }
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: @screen-sm-min) { }

@media (min-width: @screen-sm-min) { }

@media (min-width: @screen-md-min) { }

@media (min-width: @screen-lg-min) { }

